html,
body {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
} 

img {
    max-width: 100%
} 

p {
    color: gray;
    font-family: 'Roboto Slab', serif;
}
h1 {
    color: rgba(106, 29, 29, 0.65);
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    color: rgba(106, 29, 29, 0.65);
    font-family: 'Roboto Slab', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    color: rgba(106, 29, 29, 0.65);
    font-family: 'Roboto Slab', serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

small {
    color: gray;
    font-family: 'Roboto Slab', serif;
}

.small {
    text-align: center;
}

/*menu*/
.menu {
    padding: 0;
    text-align: right;
}

.menu li {
    display: inline-block;
}

header {
    background-image: linear-gradient(to left, lightblue 0%, transparent 85%);
}

header .nav ul {
    list-style: none;
}

header .nav ul li a {
    color: grey;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    transition: all 0.3s ease-in-out;
}

header .nav ul li a:hover {
    color: black
}

/*footer*/
footer {
    background-color: beige;
    display: block;
    bottom: 0;
    
}

.campos {
    max-width: 500px;
    width: 100%;
    font-size: 0
}

.campos * {
    box-sizing: border-box;
    width: 50%;
    font-size: 15px;
    vertical-align: top;
    display: inline-block
}

/*main*/
/*index*/
.home {
    margin: 0px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'titulo titulo'
                         'imagen texto'
                         '. boton'
}

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.historia img{
    width: 80%;
}

.historia p {
    margin-left: 10px;
}

.grid1 {
    grid-area: titulo
}

.grid2 { 
    grid-area: texto;
}

.grid3 {
    grid-area: imagen;
}

.grid4 {
    grid-area: boton;
}

.slider {
    margin: auto;
    display: flex;
}

.mini-sections {
    display: flex;
    column-gap: 55px;
}

.mini-sections > section {
    max-width: 30%;
}

/*contacto*/
.contacto {
    color: gray;
    font-family: 'Roboto Slab', serif;
    padding-top: 5px;
}

/*history*/
.history {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 5px;
}

.secciones {
    display: flex;
    flex-wrap: wrap;
}

.seccion1 {
    display: flex;
    flex: 1;
}

.seccion2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse
}

.seccion3 {
    display: flex;
    flex: 1;
}

.seccion4 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse
}

.seccion5 {
    display: flex;
    flex: 1;
}

.seccion6 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse
}

.img1 {
    flex-direction: column;
    max-width: 100%;
}

.img2 {
    flex-direction: column;
    max-width: 100%;
}

/*medias*/

@media (max-width: 600px) {
    .menu li {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .mini-sections {
        flex-direction: column;
        align-items: center;
    }
    
    .mini-sections > section {
        max-width: 70%;
    }
}